body {
    margin: 30;
    font-family: 'Times New Roman', Courier, monospace;
    position: relative;
    width: 500px;
    height: 500px;
    background: #7a4c7d;
}

button {
    width: 190px;
    height: 27px;
    font-family: 'Luchida', Courier, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #e8e8e8;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    position: absolute;
    width: 190px;
    height: 50px;
    left: 52px;
    top: 430px;
    background: #ff0000;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

h5 {
    position: absolute;
    width: 380px;
    height: 30px;
    left: 50px;
    top: 200px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
}

#con {
    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 90px;
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #cdff29;
}

#tem {
    position: absolute;
    width: 320px;
    height: 90px;
    left: 52px;
    top: 110px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #ff0000;
}

#deg {
    position: absolute;
    width: 200px;
    height: 70px;
    left: 52px;
    top: 300px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    color: #e4e4e4;
}

#degree {
    position: absolute;
    width: 200px;
    height: 40px;
    left: 52px;
    top: 320px;
    border-radius: 5px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}

hr {
    position: absolute;
    width: 446px;
    height: 0px;
    left: 52px;
    top: 500px;
    border: 1px solid #2d3d53;

}

#res1-el {
    flex-direction: row;
    position: relative;
    width: 250px;
    height: 39px;
    left: 52px;
    top: 500px;
    background: #133c76;
    border-radius: 6px;
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

#res2-el {
    flex-direction: row;
    position: relative;
    width: 250px;
    height: 39px;
    left: 52px;
    top: 500px;
    background: #133c76;
    border-radius: 6px;
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

#form {
    position: absolute;
    width: 250px;
    height: 40px;
    left: 52px;
    top: 370px;
    color: black;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

#type {
    width: 354px;
    height: 50px;
    line-height: 40px;
    color: #ffe6e6;
    font-family: 'Luchida', Courier, monospace;
}

#num2-el {
    width: 120px;
    height: 40px;
    border: rgb(31, 112, 85);
    border-radius: 5px;
}


@media screen and (max-width: 650px) {
    body {
        margin: 10px;
        font-family: 'Times New Roman', Courier, monospace;
        position: fixed;
        width: 600px;
        height: 480px;
        background: #1F2937;
    }

}